<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css 실습 01</title>

    <style>
        div {
            border-radius: 50px;
            width: 100px;
            height: 100px;
        }
        .div1 {
            background-color: blue;
            position: relative;
        }
        .div2 {
            background-color: white;
            width: 50px;
            height: 50px;
            left: 25px;
            top: 25px;
            position: fixed;
        }
        .div3 {
            background-color: black;
            width: 25px;
            height: 25px;
            left: 25px;
            top: 35px;
            position: fixed;
        }
        .div4 {
            background-color: royalblue;
            position: fixed;
            left: 80px;
            top: 60px;
        }
        .div5 {
            background-color: navy;
            position: absolute;
            left: 120px;
        }
        .div6 {
            background-color: skyblue;
            position: absolute;
            left: 180px;
        }
        .div7 {
            position: fixed;
        }
        .div8 {
            background-color: cadetblue;
            position: absolute;
            left: 240px;
        }
        img {
            width: 400px;
            height: 150px;
        }
    </style>
</head>
<body>
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5"></div>
    <div class="div6"></div>
    <div class="div7"><%- include('weed.ejs')%></div>
    <div class="div8"></div>

    
</body>
</html>