:root {
    /* color */
    --background-color: #ededed;
    --white-color: #fff;
    --blue-color: #0359AE;
    --lightblue-color: #3B71FC;
    --lightgray-color: #d9d9d9;
    --darkgray-color: rgb(59, 59, 59);
}

body {
    background-color: var(--background-color);
    margin: 0;
}
.navbar {
    height: 100px;
    background-color: var(--white-color);
    margin: 0;
    text-align: center;
    font-size: 100px
}
.main {
    display: flex;
    justify-content: center;
}


/* comment */
.comment {
    background-color: var(--white-color);
    border-radius: 20px;
    width: 1120px;
    height: 750px;
    /* margin: 80px 10px 80px 240px; */
    margin: 80px auto;
    padding: 22px 50px 50px 50px;
}



/* scroll bar */
/* 임의의 영역 생성 */
.comment_scroll {
    /* width: 520px;  */
    width: 1120px; 
    overflow: scroll;
    height: 600px;
    overflow-x: hidden;
}

  /* 아래의 모든 코드는 영역::코드로 사용 */

.comment_scroll::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

.comment_scroll::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--lightblue-color); /* 스크롤바의 색상 */
    border-radius: 10px;
}

.comment_scroll::-webkit-scrollbar-track {
    background: var(--lightgray-color);  /*스크롤바 뒷 배경 색상*/
}





.comment_list {
    list-style: none;
    padding: 0px;
}
.user_comment {
    margin: 35px 45px;
    /* position: relative; */
}
.comment_nickname {
    margin-top: 90px;
    margin-bottom: 10px;
    width: 405px;
}
.user_comment_nickname {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: right;
    /* width: 440px; */
    width: 100%;
}
.comment_comment {
    background-color: var(--lightgray-color);
    border-radius: 20px;
    padding: 10px 20px;
    /* width: 405px; */
    width: 100%;
    position: relative;
    top: 10px;
    word-break: break-all;
    line-height: 20px;
}
/* 댓글 삭제 버튼 */
.comment_del {
    border: none;
    background-color: var(--white-color);
    border-radius: 20px;
    position: relative;
    left: 1000px;
    top: 30px;
}


.user_comment_comment {
    background-color: var(--lightgray-color);
    border-radius: 20px;
    padding: 10px 20px;
    /* width: 405px; */

    position: relative;
    top: -10px;
    right:0;

    float:right;
    width:auto;
    word-break: break-all;
    line-height: 20px;
}


.user_comment_nickname::after,
.user_comment_nickname::before,
.user_comment_comment:before,
.user_comment_comment:after{
    content:"";
    display:block;
    clear: both;
}

/* post comment */
.post_comment_line {
    border-bottom: var(--darkgray-color) solid 1px;
    width: 1026px;
    margin: 10px 50px;
}
.post_comment{
    border-radius: 20px;
    /* width: 435px; */
    width: 1026px;
    padding: 22px 0px;
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
}
#post_comment_input {
    width: 900px;
    border: none;
    background-color: var(--lightgray-color);
    border-radius: 20px;
    padding: 10px 20px;
    white-space: pre-line;
}
.post_comment_btn {
    border: none;
    background-color: var(--lightgray-color);
    border-radius: 20px;
    padding: 10px 20px;
}

.post_feedback {
    position: relative;
    left: 70px;
}

