<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>

    <script>
        console.log(document.cookie);
        document.cookie = 'user=sesac; expires=Sat, 13 Aug 2022 13:00:00; path=/';  // 옵션 지정 ';'로 구분해서 적어주기 ,,?
        console.log(document.cookie);

        var cookieArr = document.cookie.split(';');
        // for (var i = 0; i < cookieArr.length; i++)
        //  = 위 아래 같음
        for (var i in cookieArr) {
            console.log(cookieArr[i]);
        }
    </script>
</head>
<body>
    
</body>
</html>