/* navbar */

#nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid gray;
}

/* main */
.title {
    text-align: center;
    margin-top: 100px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 70px;
}

.main3 {
    align-self: flex-end;
}

/* video */
.second {
    margin: 0px 150px;
    
}

.video {
    text-align: center;
    margin: 50px;
}

.border {
    border-bottom: 1px solid gray;
    margin: 70px 0;
}

.vcontent {
    position: relative;
    width: 800px;
    left: 350px;
    top: -65px;
}

/* new */
.new {
    position: relative;
    left: 40px;
    top: -720px;
    margin: 0px 150px;
}
.ncontent {
    position: relative;
    width: 330px;
    bottom: -520px;
}

.new1 {
    position: relative;
    left: 680px;
    bottom: 0px;

}

/* best */
.best {
    position: relative;
    left: 730px;
    top: -720px;
    margin: 0px 150px;
}
.bcontent {
    position: relative;
    width: 335px;
    bottom: -490px;
}

.best1 {
    position: relative;
    left: 190px;
    bottom: 0px;

}

/* category */
.category {
    position: relative;
    margin: 0px 150px;
}

#view {
    position: relative;
    top: 100px;
    text-decoration: underline;
    color: black;
}

.category0 {
    position: relative;
    margin: 0px 150px 0px 750px;
    top: -145px;
    display: flex;
    justify-content: space-between;
}

.category00 {
    position: relative;
    margin: 0px 150px;
    top: -90px;
    display: flex;
    justify-content: space-between;
}


/* footer */
.footer {
    margin: 0px 150px 70px 150px;
    text-align: center;
    font-size: 0.8rem;
}

/* navbar - bottom */
#nav2 {
    position: sticky;
    bottom: 0px;
    z-index: 10;
    background-color: white;
    border-top: 1px solid gray;
}


.search {
    border: none;
    border-bottom: 1px solid rgb(73, 73, 73);
    background: transparent
    
}

.search:focus{
    outline:none;
}
